[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eqtesting"]
	path = eqtesting
	url = https://github.com/jack-fitzgerald/eqtesting
